*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.conatiner{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(244, 244, 12);
}
.box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.first{
    border: 1px solid red;
    padding: 1rem;
}
.second{
    border: 1px solid rgb(232, 11, 155);
    padding: 1rem;
}.third{
    border: 1px solid rgb(233, 137, 137);
    padding: 1rem;

}.fourth{
    border: 1px solid rgb(7, 255, 49);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#btn{
   padding: 0.6rem 2rem; 
   border: none;
   font-weight: 600;
   background-color: black;
   color: yellow;
   border-radius: 15px;
   cursor: pointer;
}
input[type="text"]{
    width: 100%;
    height: 1.6rem;
    padding: 0rem 0.4rem;
}
.addition_option{
    width: 100%;
    height: 1.6rem;
    padding: 0rem 0.4rem;
}
